// @font-face declarations

@font-face {
  font-family: 'Globie America Med';
  src: url('../static/fonts/GlobieAmerica-Medium.woff2') format('woff2'),
      url('../static/fonts/GlobieAmerica-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Globie America';
  src: url('../static/fonts/GlobieAmerica-Regular.woff2') format('woff2'),
      url('../static/fonts/GlobieAmerica-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
