@media screen and (min-width: 1680px)

  $font-size-large = 40px
  $font-size-mid = 32px
  $font-size-basic = 24px
  $font-size-small = 16px
  $font-size-tiny = 10px

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  #logo
    width: 800px
    height: 440px

  #main-content
    max-width: 600px
