@media screen and (min-width: 1024px)

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-large = 32px
  $font-size-mid = 27px
  $font-size-basic = 21px
  $font-size-small = 16px
  $font-size-tiny = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .desktop-only
    display: initial !important

  #header
    position: fixed
    bottom: 0
    left: 50vw
    width: 50vw
    top: initial

  #nav
    position: fixed
    width:100vh
    padding-top: 2vw

  #main-content
    left: 7vw
    width: 40vw
    max-width: 410px

  #prize,
  #not-found
    padding-top: $margin-basic
