@media screen and (min-width: 700px)

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-large = 40px
  $font-size-mid = 32px
  $font-size-basic = 24px
  $font-size-small = 16px
  $font-size-tiny = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .mobile-only
    display: none !important

  $header-height = 302px

  #logo
    width: 380px
    height: 209px

  #nav
    .grid-row
      width: 80%
      margin-left: 10%

  #main-content
    max-width: 520px

  #prize,
  #not-found
    padding-top: $header-height
